h1, h2{
    text-align: center;    
}

/* h1 {
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: blue;
} */

.radial-blue {
    background: radial-gradient(lightyellow, skyblue);
}

.no-top-padding{ 
    padding-top: 0 !important
}